
@{
    ViewBag.Title = "LoginPage";
    Layout = "~/Views/_LayoutPage1.cshtml";
}



@*Login Section Begin*@
<section class="login spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login__form">


                    <h3>Login</h3>
                    <form action="~/LogIn/LoginPage" method="post">

                        <div class="input__item">
                            <input type="text" placeholder="Email address" name="email" value="">
                            <span class="icon_mail"></span>
                        </div>
                        <div class="input__item">
                            <input type="password" placeholder="Password" name="passwords" value="">
                            <span class="icon_lock"></span>
                        </div>

                        <div>
                            <select name="userType">
                                <option value="user">User</option>
                                <option value="admin">Admin</option>
                            </select>

                        </div>
                        @if (Variable.errorLonin != "")
                        {
                            <h6 class="text-danger"style="margin-top:5px;">@Variable.errorLonin</h6>
                        }

                        <button type="submit" class="site-btn">Login Now</button>


                    </form>
                    @*<a href="#" class="forget_pass">Forgot Your Password?</a>*@

                </div>

            </div>
            <div class="col-lg-6">
                <div class="login__register">
                    <h3>Dont’t Have An Account?</h3>

                    <p href="#" class="primary-btn">@Html.ActionLink("Register Now", "RegisterPage", "LogIn")</p>
                </div>
            </div>
        </div>
        <div class="login__social">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                    <div class="login__social__links">
                        <span>or</span>
                        <ul>
                            <li>
                                <a href="#" class="facebook">
                                    <i class="fa fa-facebook"></i> Sign in With
                                    Facebook
                                </a>
                            </li>
                            <li><a href="#" class="google"><i class="fa fa-google"></i> Sign in With Google</a></li>
                            <li>
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i> Sign in With Twitter</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
