
@{
    ViewBag.Title = "RegisterPage";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>RegisterPage</h2>

<!-- Signup Section Begin -->
<section class="signup spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="login__form">
                    <h3>Sign Up</h3>

                    <form action="~/LogIn/RegisterPage" method="post">
                        <div class="input__item">
                            <input type="text" placeholder="Email address" name="email">
                            <span class="icon_mail"></span>
                        </div>
                        <div class="input__item">
                            <input type="text" placeholder="Your Name" name="name">
                            <span class="icon_profile"></span>
                        </div>
                        <div class="input__item">
                            <input type="password" placeholder="password" name="passwords">
                            <span class="icon_lock"></span>
                        </div>  
                        <div class="input__item">
                            <input type="password" placeholder="Password" name="confirmPass">
                            <span class="icon_lock"></span>
                        </div>
                        <button type="submit" class="site-btn">Login Now</button>
                        <h5>@ViewBag.notMatch</h5>
                    </form>
                    <h5>Already have an account? <a href="#">@Html.ActionLink("Log In!","LoginPage")</a></h5>
                </div>
            </div>

        </div>
    </div>
</section>
